@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  height: 100vh;
  min-width: 320px;
}

a {
  text-decoration: none;
  color: #000;
}

p {
  line-height: 1.7;
  overflow: hidden;
  text-overflow: ellipsis;
}

ul {
  list-style: none;
}

li {
  line-height: 2.2;
}

h1,
h2,
h3 {
  font-weight: 600;
}

.container {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  /* padding: 0 20px; */
  text-align: center;
}

.header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid #e6e6e6;
  /* margin-bottom: 60px; */
}

.header ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header ul li {
  margin-left: 20px;
}

.header ul li a {
  display: flex;
  align-items: center;
}

.header ul li a:hover {
  color: #777;
}

.header ul li a svg {
  margin-right: 5px;
}

.heading {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 50px;
  padding: 0 20px;
}

.heading p {
  color: #828282;
}

.goals {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.goal {
  background-color: #f4f4f4;
  margin: 10px 0;
  padding: 20px 0 10px;
  position: relative;
}

.goal .close {
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
  border: none;
  background: none;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.flex-columns {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.form,
.content {
  width: 70%;
  margin: 0 auto;
}

.form a {
  text-align: right;
  text-decoration: underline;
}

.form-group {
  margin-bottom: 10px;
}

.form-group input,
.form-group textarea,
.form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  margin-bottom: 10px;
  font-family: inherit;
}

.form-group label {
  text-align: left;
  display: block;
  margin: 0 0 5px 3px;
}

.btn {
  padding: 10px 20px;
  border: 1px solid #000;
  border-radius: 5px;
  background: #000;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  appearance: button;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-table {
  width: 100px;
}

.btn svg {
  margin-right: 8px;
}

.btn-reverse {
  background: #fff;
  color: #000;
}

.btn-block {
  width: 100%;
  margin-bottom: 20px;
}

.btn:hover {
  transform: scale(0.98);
}

.btn:disabled {
  background-color: #777;
}

.loadingSpinnerContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingSpinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #000 transparent #555 transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}

table {
  margin: auto;
  border-collapse: collapse;
  width: 50%;
}

table td, table th {
  border: 1px solid #ddd;
  padding: 8px;
}

table tr:nth-child(even){background-color: #f2f2f2;}

table tr:hover {background-color: #ddd;}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(0px, 1fr));
  grid-gap: 1rem;
  align-items: stretch;
}

.item-card {
  overflow: hidden;
    border-radius: 0.5rem;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.06) 0px 0px 0.125rem 0px, rgba(0, 0, 0, 0.12) 0px 0.125rem 0.125rem 0px;
    transition: box-shadow 0.3s cubic-bezier(0.45, 0, 0.55, 1) 0s, background 100ms ease-out 0s;
}

.card-body {
  display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    white-space: nowrap;
    padding: 1rem;
    position: relative;
}

.card-body .details {
  display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: stretch;
    align-items: stretch;
    overflow: hidden;
    text-align: left;
    padding-inline-end: 1rem;

}

.card-body .delivery-time {
  display: block;
    padding: 0.25rem 0.5rem;
    background-color: rgba(0, 157, 224, 0.08);
    border-radius: 0.5rem;
    -webkit-font-smoothing: antialiased;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, Roboto, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-style: normal;
    font-stretch: normal;
    text-transform: none;
    font-weight: 400;
    color: rgb(0, 157, 224);
}

.card-footer {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, Roboto, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 0.75rem;
    line-height: 1rem;
    font-style: normal;
    font-stretch: normal;
    text-transform: none;
    font-weight: 400;
    display: flex;
    gap: 0.25rem;
    -webkit-box-align: center;
    align-items: center;
    height: 2rem;
    border-top: 0.0625rem dashed rgba(32, 33, 37, 0.12);
    color: rgba(32, 33, 37, 0.64);
    padding: 0px 1rem;
}

.item-card h2 {
  font-size: 1.125rem;
}

.card-image{
    width: 100%;
    position: relative;
    padding-top: 46%;
}

.card-image .image {
  height: 100%;
  position: absolute; 
  inset: 0px;
}

.card-image img {
  position: absolute;
    top: 0px;
    left: 0px;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.image-header {
    display: flex;
    justify-content: center;
  align-items: center;
    width: 100%;
    height: 400px;
    position: relative;
    z-index: -1;
}

.image-header img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.image-header .details {
  margin-top: 50px;  
  color: #fff;
  position: absolute;
  font-size: 1.5em;
}

.image-header .details .delivery {
  font-size: 1.125rem;
  margin-top: 40px;
  background-color: #ddd;
  color: #000;
  padding: 10px;
}

.image-header .details .delivery-time {
  display: flex;
  align-items: center;
  font-size: 1rem;
  margin-top: 10px;
  justify-content: space-between;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.item-box {
  width: 500px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
    overflow-x: hidden;
    transition: border-color.3s ease-out;
    padding: 1.5rem 1rem;
    margin: -1px 1.5rem;
    border-style: solid;
    border-color: #e4e4e4;
    border-width: 1px 0;
    cursor: pointer;
}

.item-box:hover {
  border-radius: 4px;
    box-shadow: 0 2px 10px 0 rgba(32,33,37,6%);
    transition: opacity.3s ease-in-out;
    border-width: 1px;
}

.item-box .details {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.item-box img {
  object-fit: cover;
  height: 8.125rem;
    width: 13.125rem;
    border-radius: 0.25rem;
}

.header ul.float-left {
  float: right;
}
 

.btn-cart {  
  display: flex;
  gap: 10px;
  justify-content: space-between;
  font-weight: 700;
  cursor: pointer;
  color: #fff;
    background: rgb(0, 157, 224);
    border-radius: 0.5rem;
    padding: 10px;
    border: none;
}

.quantity-circle {
  color: rgb(0, 157, 224);
  background-color: #fff;
  border-radius: 50%;
  width: 22px;
  height: 22px;
}

.darkBG {
  background-color: rgba(0, 0, 0, 0.2);
  width: 100vw;
  height: 100vh;
  z-index: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
}

.document {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal {
  background: white;
  color: white;
  width: 600px;
  border-radius: 16px;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
  padding: 10px;
}

.modalHeader {
  height: 50px;
  background: white;
  overflow: hidden;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.heading {
  margin: 0;
  padding: 10px;
  color: #2c3e50;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
}

.modalContent {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 10px;
  color: #2c3e50;
  text-align: left;
}

.modal-item {
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 3;
  gap: 20px;
  padding: 10px;
  color: #2c3e50;
  text-align: left;
}



.modalContent .quantity {
  cursor: pointer;
    border-color: rgba(32, 33, 37, 0.12);
    border-radius: 4px;
    border-style: solid;
    padding: 5px;
    text-align: center;
   width: 44px;
  height: 44px;
}

.modalContent .quantity:hover {
  border-color: rgb(0, 157, 224);
  color: rgb(0, 157, 224)
}

.modal-item .details {
  width: 100%;
}

.modalContent .delivery {
  width: 100%;
  color: #000;
  padding: 10px;
}




.actionContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  z-index: 3;
  
}

.closeBtn {
  cursor: pointer;
  font-weight: 500;
  padding: 4px 8px;
  border-radius: 8px;
  border: none;
  font-size: 18px;
  color: #2c3e50;
  background: white;
  transition: all 0.25s ease;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.06);
  position: absolute;
  right: 0;
  top: 0;
  align-self: flex-end;
  margin-top: -7px;
  margin-right: -7px;
}

.closeBtn:hover {
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
  transform: translate(-4px, 4px);
}


.deleteBtn:hover {
  box-shadow: 0 10px 20px -10px rgba(255, 62, 78, 0.6);
  transform: translateY(-5px);
  background: #ff3e4e;
}

.cancelBtn {
  margin-top: 10px;
  cursor: pointer;
  font-weight: 500;
  padding: 11px 28px;
  border-radius: 12px;
  font-size: 0.8rem;
  border: none;
  color: #2c3e50;
  background: #fcfcfc;
  transition: all 0.25s ease;
}

.cancelBtn:hover {
  box-shadow: none;
  transform: none;
  background: whitesmoke;
}

.image-modal img {
  object-fit: cover;
 width: 6rem;
  height: 5rem;
}

.modal .btn-cart {
  width: 100%;
}

.change-quantity {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-around;
  background-color: rgba(0, 157, 224, 0.08);
  padding: 10px 20px;
  border-radius: 10px;
  color:rgb(0, 157, 224);
  cursor: pointer;
  
}

.change-quantity .circle {
  background-color: #fff;
  font-size: 22px;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  text-align: center;
}





@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 600px) {
  .form {
    width: 90%;
  }

  .heading h1 {
    font-size: 2rem;
  }

  .heading p {
    font-size: 1.5rem;
  }
}